body {
    background-color: #f7f7f7;
}

.navbar-default {
    background-color: hsla(187, 80%, 58%, 0.829);
    border-color: transparent;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #25d4eb;
}

.row1 {
    padding: 10px 50px;
    background-color: #333;
}

.navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0;
    font-size: 15px;
}

.navbar-button {
    background-color: #7ef5ef;
    border: 1px solid #1ba4da;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #4ed6f8;
    box-shadow: 0 4px 4px 0 #fafafa, inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
}

.cart-button:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
}

.dropdown-menu {
    background-color: #7fffd4b5;
    color: #333;
    box-shadow: 0 4px 8px -3px #40cde6;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    padding: 11px;
}
