<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>

  {% load static %}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>ZooBee</title>


</head>

<body style="background-color: #fff;">

  {%if request.user.is_authenticated%}
  {% include "ecom/customer_navbar.html" %}
  {%else%}
  {% include "ecom/navbar.html" %}
  {%endif%}

  <center style="background-color: #fff; padding: 50px;">
    
    {% load static %}
    <div style="width: 70%; height: max-content; border-width: 2px; border-radius: 25px; background-image: url({% static 'images/ecom-banner3.jpg' %});">
      <h2 class='alert alert-success' style="color: #fff; font-size: x-large; padding-bottom: 20px; background: -webkit-linear-gradient(right, aqua, #8811c5);">
        Send Us Your Valuable Feedback!
        
      </h2>
        <p style="padding: 15px; background-color: #fafcfc; border-radius: 15px;">
          Thank you for choosing us. Our Team will be sure to get back to you addressing the concerns with instance!
        </p>
      <form method="POST">
        <!-- Very Important csrf Token -->
        {% csrf_token %}
        <div class="form-group" style="padding: 20px;">
          <p>
          <h3>{{ form.as_p }}</h3>
          </p>
          <br>
          <input type="submit" value="Send Message" style="padding: 10px; font-size: large; font-weight: bold;" class='btn btn-primary btn-lg'>
        </div>
      </form>
    </div>
  </center>
  {% include "ecom/footer.html" %}
</body>
<!--
+-------------+-------------------------------+
|Developed By:| Dovine K                      |
|facebook:    | https:/fb.com/dovine.fest.03  |
|Youtube :    | youtube.com/CodewithDove      |
|Linkedin:    | linkedin.com/in/dovine-owuor  |
+-------------+-------------------------------+
-->

</html>