<!doctype html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
	<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>



<footer class="footer-03" style="
width: 100%;
background-color: #7fffd46b !important;
height: 100%;
border-radius: 15px;
justify-content: center;
align-items: center;
gap: 25px;
display: inline-flex;">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-4 mb-md-0 mb-4">
						<h2 class="footer-heading">Men</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-1 d-block">Jeans</a></li>
							<li><a href="#" class="py-1 d-block">Jumpers</a></li>
							<li><a href="#" class="py-1 d-block">Leather</a></li>
							<li><a href="#" class="py-1 d-block">Shorts</a></li>
							<li><a href="#" class="py-1 d-block">Boots</a></li>
							<li><a href="#" class="py-1 d-block">Watches</a></li>
						</ul>
					</div>
					<div class="col-md-4 mb-md-0 mb-4">
						<h2 class="footer-heading">Women</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-1 d-block">Dresses</a></li>
							<li><a href="#" class="py-1 d-block">Jumpsuits</a></li>
							<li><a href="#" class="py-1 d-block">Shirts</a></li>
							<li><a href="#" class="py-1 d-block">T-shirts</a></li>
							<li><a href="#" class="py-1 d-block">Swearshirts</a></li>
							<li><a href="#" class="py-1 d-block">Jackets</a></li>
							<li><a href="#" class="py-1 d-block">Coats</a></li>
						</ul>
					</div>
					<div class="col-md-4 mb-md-0 mb-4">
						<h2 class="footer-heading">Kids</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-1 d-block">Shirts</a></li>
							<li><a href="#" class="py-1 d-block">T-shirts</a></li>
							<li><a href="#" class="py-1 d-block">Polos</a></li>
							<li><a href="#" class="py-1 d-block">Sweaters</a></li>
							<li><a href="#" class="py-1 d-block">Sweatshirts</a></li>
							<li><a href="#" class="py-1 d-block">Jackets</a></li>
							<li><a href="#" class="py-1 d-block">Watches</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row justify-content-end">
					<div class="col-md-12 col-lg-11 mb-md-0 mb-4">
						<h2 class="footer-heading">Follow Us</h2>
						<ul class="ftco-footer-social p-0">
							<li class="ftco-animate"><a href="https://twitter.com" data-toggle="tooltip" data-placement="top"
									title="Twitter"><span class="ion-logo-twitter" style="color: #000;"></span></a></li>
							<li class="ftco-animate"><a href="https://facebook.com" data-toggle="tooltip" data-placement="top"
									title="Facebook"><span class="ion-logo-facebook" style="color: #1877F2;"></span></a></li>
							<li class="ftco-animate"><a href="https://instagram.com" data-toggle="tooltip" data-placement="top"
									title="Instagram"><span class="ion-logo-instagram" style="color: linear-gradient(to bottom right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);"></span></a></li>
							<li class="ftco-animate"><a href="https://linkedin.com" data-toggle="tooltip" data-placement="top"
									title="Linkedin"><span class="ion-logo-linkedin" style="color: #0077b5;"></span></a></li>
						</ul>
						<h2 class="footer-heading mt-5">Subscribe Us</h2>
						<form action="#" class="subscribe-form">
							<div class="form-group d-flex">
								<input type="text" class="form-control rounded-left" placeholder="Enter email address">
								<input type="submit" value="Subscribe" class="form-control submit px-3 rounded-right">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5 pt-4 border-top">
			<div class="col-md-6 col-lg-8">

				<p class="copyright">
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a
						href="https://linkedin.com/company/dovetec-ent" target="_blank" style="color: #0077b5;">Dovetec Ents</a>

			</div>
			<div class="col-md-6 col-lg-4 text-md-right">
				<p class="mb-0 list-unstyled">
					<a class="mr-md-3" href="#" style="color: #0077b5">Terms &amp; Conditions</a>
					<a class="mr-md-3" href="#" style="color: #0077b5">Privacy</a>
				</p>
			</div>
		</div>
	</div>
</footer>



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>