<style>
    @import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

    * {
        margin: 0;
        padding: 20px;
        font-family: "Istok Web", sans-serif;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #ffffff;
    }

    .card {
        padding: 0;
        position: relative;
        width: 320px;
        height: 480px;
        background: #3a3a3a;
        border-radius: 20px;
        overflow: hidden;
    }

    .card::before {
        content: "";
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background: aquamarine;
        transform: skewY(345deg);
        transition: 0.5s;
    }

    .card:hover::before {
        top: -70%;
        transform: skewY(390deg);
    }

    .card::after {
        content: "{{p.brand}}";
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 600;
        font-size: 6em;
        color: rgba(0, 0, 0, 0.1);
    }

    .card .imgBox {
        position: relative;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        z-index: 1;
    }

    /*
    .card .imgBox img {
        max-width: 100%;
        
        transition: .5s;
    }
    
    .card:hover .imgBox img {
        max-width: 50%;
        
    }
    */
    .card .contentBox {
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }

    .card .contentBox h3 {
        font-size: 18px;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .card .contentBox .price {
        font-size: 24px;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .card .contentBox .buy {
        position: relative;
        top: 100px;
        opacity: 0;
        padding: 10px 30px;
        margin-top: 15px;
        color: #000000;
        text-decoration: none;
        background: aqua;
        border-radius: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.5s;
    }

    .card:hover .contentBox .buy {
        top: 0;
        opacity: 1;
    }

    .mouse {
        height: 100%;
        width: auto;
    }
</style>
<div></div>

<div class="card">

    <div class="imgBox">
        <img src="{% static p.product_image.url p.id %}"
            alt="Zoobee Product Image" class="mouse">
    </div>

    <div class="contentBox">
        <h3>{{p.name}}</h3>
        <h2 class="price">Ksh. {{p.price}} <small></small> </h2>
        <a href="{% url 'add-to-cart' p.id  %}" class="buy">Buy Now</a>
    </div>

</div>